*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-pri);
  overflow: hidden;
}

@media (max-width: 1000px) {
  body {
    overflow: auto;
  }
}

:root {
  --clr-pri: hsl(172, 67%, 45%);
  --clr-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-gray-cyan: hsl(186, 14%, 43%);
  --clr-dark-gray-cyan2: hsl(184, 14%, 56%);
  --clr-light-gray-cyan: hsl(185, 41%, 84%);
  --clr-light-gray-cyan2: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --font-size-input: 24px;
  --ff-pri: 'Space Mono', monospace;
  --mobile: 375px;
  --desktop: 1440px;
}

.container {
  background: var(--clr-light-gray-cyan);
  min-height: 100%;
  min-width: 100%;
  margin: auto;
  padding: 2em;
}

@media (max-width: 800px) {
  .container {
    padding: 0;
    padding-top: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .title {
  text-align: center;
  letter-spacing: 12px;
  font-size: 24px;
  font-weight: 500;
  color: #47696b;
  margin-bottom: 5%;
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background: var(--clr-white);
  width: 70%;
  height: 70vh;
  padding: 2em;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .container .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 90%;
  }
}

.main .left {
  padding: 1em;
  width: 50%;
}

@media (max-width: 800px) {
  .main .left {
    width: 100%;
  }
}

.left label {
  color: var(--clr-dark-cyan);
}

.sec {
  padding-bottom: 2em;
}

.tips br {
  margin-bottom: 1.5em;
}

.left .inp {
  display: block;
  width: 100%;
  height: 46px;
  background: var(--clr-light-gray-cyan2);
  border-radius: 5px;
  margin-top: 5px;
  padding: 0.5em;
}

.left img {
  width: 12px;
}

.left input {
  background: none;
  border: none;
  height: 1em;
  width: 93%;
  text-align: right;
  font-size: var(--font-size-input);
  font-family: var(--ff-pri);
  color: var(--clr-dark-gray-cyan);
  font-weight: 700;
}

.left input:focus {
  outline: none;
}

.main .right {
  width: 50%;
  background: var(--clr-dark-cyan);
  padding: 2.5em;
  padding-top: 4em;
  color: var(--clr-pri);
  border-radius: 20px;
}

@media (max-width: 800px) {
  .main .right {
    width: 100%;
  }
}

.amount-title,
.total__title {
  color: var(--clr-white);
  font-weight: 700;
}

.amount {
  color: var(--clr-pri);
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
  position: relative;
  left: 25%;
}

#custom {
  background: var(--clr-light-gray-cyan2);
  width: 90%;
  height: 50px;
  border-radius: 5px;
  color: var(--clr-dark-gray-cyan);
  text-align: center;
  padding-bottom: 8px;
}

.tip-amount {
  margin-bottom: 3em;
}

.totalamount {
  color: var(--clr-pri);
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
  position: relative;
  left: 31%;
}

.tip-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person {
  color: var(--clr-dark-gray-cyan2);
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  grid-gap: 0;
}

@media (max-width: 800px) {
  .buttons {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.btn {
  background: var(--clr-dark-cyan);
  border-radius: 5px;
  width: 90%;
  height: 50px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--clr-light-gray-cyan2);
  font-weight: 700;
  font-size: 20px;
  padding-top: 8px;
  cursor: pointer;
}

.btn::-moz-selection {
  background: var(--clr-pri);
}

.btn::selection {
  background: var(--clr-pri);
}

.peoples {
  margin-top: -16px;
}

.selected {
  background: var(--clr-pri);
  color: var(--clr-dark-cyan);
}

.btn-reset {
  width: 336px;
  height: 48px;
  background: #0b686d;
  color: var(--clr-dark-cyan);
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
}
/*# sourceMappingURL=style.css.map */